@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond);

body {
    font-family: 'Cormorant Garamond', serif !important;
}
p, span, .field-label, .field-item, .privatemsg-send-link .privatemsg-send-link-node {
    font-size: 22px !important;
}
dl, dt, dt {
    font-size: 18px;
}
#edit-field-geofield-distance-distance {
    width: 50px;
}
#edit-field-geofield-distance-origin {
    width: 200px;
}
#edit-field-geofield-distance-unit {
    display: none;
}
.center {
    text-align: center;
}
#main-content {
    background: #abbaab; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #abbaab , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #abbaab , #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.frontPageCss #main-content {
    background: #fceabb;
    background: -webkit-linear-gradient(to left, #fceabb , #f8b500);
    background: linear-gradient(to left, #fceabb , #f8b500);
    padding: 100px;
}
/*#page {
    background: #C4E0E5;
}*/
#page {
    background-color: #a6e6d7;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNjNGUwZTUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzg4ZWJjOCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 100% 0%, 0% 100%,color-stop(0, rgb(196, 224, 229)),color-stop(1, rgb(136, 235, 200)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(top right,rgb(196, 224, 229) 0%,rgb(136, 235, 200) 100%);
    /* IE10+ */
    background-image: linear-gradient(to bottom left,rgb(196, 224, 229) 0%,rgb(136, 235, 200) 100%);
    background-image: -ms-linear-gradient(top right,rgb(196, 224, 229) 0%,rgb(136, 235, 200) 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc4e0e5",endColorstr="#ff88ebc8",GradientType=0);
    }
}

#block-search-form .container-inline {
    text-align: right;
}
.field-slideshow {
    margin: auto;
}
td {
    text-align: center;
    vertical-align: middle !important;
    width: 25% !important;
    color: black;
    background: #FACE58;
    font-size: 2em !important;
    font-weight: bold;
}
/*td .views-field {
    vertical-align: middle;
}*/
.field-content img {
    height: 125px;
}
#main-menu {
    font-size: 20px;
}
.links li  a {
    font-size: 22px;
    background: #FACE58 !important;
}
.content footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*.slick__image
{
    width: 900px;
}*/
